.App {
  text-align: center;
  height: 100lvh;
  width: 100lvw;
  background-color: #282c34;
}

.Header {
  flex-direction: row;
  height: 20%;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.navbar {
  border-radius: 5% 50% 15px 15px;
  display: flex;
  position: absolute;
  top: 25%;
  left: 60%;
  transform: translateX(-5%);
  max-width: 800px;
  max-height: 70px;
}
.menu {
  flex-grow: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.menu-list {
  list-style-type: none;
  display: flex;
  font-size: calc(1.17vw + 10px);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding-left: 0;
}

.menu-list li {
  flex-grow: 1;
  padding: 0 1vw;
}

.menu li a {
  text-decoration: none;
  color: #2cecdc;
  align-items: center;
  justify-content: center;
  transition: text-shadow 0.3s ease-in-out;
  letter-spacing: 1px;
}

.menu li a:hover {
  color: #f1bdaa;
  text-shadow: 0 0 5px rgba(241, 189, 170, 0.7);
}

@media (max-width: 768px) {
  .navbar {
    justify-content: space-between;
  }

  .menu-list li a .icon {
    display: inline-block;
  }

  .menu-list li a .text {
    display: none;
  }

  nav.menu {
    width: 100%;
  }
}

@media (min-width: 769px) {
  .menu-list li a .text {
    display: inline-block;
  }

  .menu-list li a .icon {
    display: none;
  }
}




@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}